
.container {
    background-position: center;
    position: relative;
    background-size: cover;
    height: 100px;
    width: 100%;
   
}
.navbar ul {
    list-style:none;
    margin:auto;
    font-family:lato;
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2015/01/15/82929/thumb-1920x1080-wallpaperup-82929.jpg);
    
}

.navbar li{
    display: inline-block;
    font-size: 35px;

}
.navbar a{
    text-decoration: none;
    color:;green;
    width:98px;
    display:block;
    padding :20px 25px;
    font-size:18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.content{
    width:100%;
    position:absolute;
    top: 100px;px;
}

#{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
    font-family: lato;
    transition: background-color 0.3s ease;
    cursor: pointer;

}
.left-col{
    margin-left:7%;   
}

.left-col h2{
    font-size:30px;
    color:rgb(222, 196, 255);
    line-height:80px;
    float:left;
}

h2{
    color:fff;

}