body{
    font-family: Elyaris;
    background-image: url(image.jpg);
}

.container {
    background-position: center;
    position: relative;
    background-size: cover;
    height: 100px;
    width: 100%;
   
}
 ul {
    list-style:none;
    margin:auto;
    font-family:lato;
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2015/01/15/82929/thumb-1920x1080-wallpaperup-82929.jpg);
    
}

li{
    display: inline-block;
    font-size: 35px;




}
.left-col{
    margin-left:7%;   
}

.left-col h2{
    font-size:30px;
    color:rgb(222, 196, 255);
    line-height:80px;
    float:left;
}

h2{
    color:fff;

}